.login-box__row {
  width: 100%;
  margin-bottom: 20px;
}

.login-box span {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
}

.login-box__input {
  width: 100%;
  height: 34px;
  margin-top: 6px;
  padding: 0 10px 0 10px;
  font-size: 1.4rem;
  color: #555;
  background-color: #d6d6d8;
  border-radius: 4px;
  outline: none;
  border: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.login-box__input:focus {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}
