* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  /* Colors */
  --blue: #0058c9;
  --dark-blue: #003e8f;
  --light-blue: #59c5f2;
  --warm-black: #272425;
  --positive: #46cf06;
  --negative: #ed1c24;
  --bubble-1: #1f80ff;
  --bubble-2: #003e8f;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

.hide {
  display: none;
}
